.header{
    height:100px;
    width:100%;  
}
.header-c{
    /* 头部版心 */
    height:100%;
    margin:0 auto;
    width:1200px;
    position:relative;
    background: url(../img/logo.png) no-repeat left center;
}
.header-c .nav{
    /* 导航栏 */
    position: absolute;
    right: 0;
    top:0;
    height:100%;
    color: #767676;
}
.header-c .nav-item{
    /* 导航栏具体 */
    position:relative;
    float:left;
    height:100%;
    margin-right:83px;
    text-align:center;
    line-height:100px;
    font-size:14px;
    font-weight: bolder;
}
.header-c .nav-item a{
    color:#767676;
}
.header-c .nav-item.end{
    /* 关于的导航栏 */
    margin-right:0;
}
.header .underline{
    position: absolute;
    right:8px;
    bottom:34px;
    width: 20px;
    height: 1px;
    background-color: #668aca;
    display:none;
}
.header-c .active .underline{
    display:block;
    position:absolute;
    right:8px;
    bottom:34px;
}
.header .nav .active a{
    color:#668aca;
    font-size:18px;
}
.header-c .nav-item:hover a{
    color:#668aca;
    font-size: 18px;
    transition:all ease .5s;
}
.header-c .nav-item:hover .underline{
    display:block;
    transition:all ease .3s;
}