.main-c,
.header-c,
.footer-c{
    height:100%;
    margin:0 auto;
    width:1200px;
}
.main{
    width:100%;
    border-top: 8px solid #f8f8f8;
}
.main-c{
    position:relative;
    height:1110px;
    font-size: 14px;
    color: #767676;
    background:url(../img/house-1.png) no-repeat right 75px;
}
.main-c a.top{
    color:#668aca;
}
.main-c .main-text{
    width:370px;
    height:617px;
    margin-top:60px;
    font-size:14px;
}
.main-c .box{
    position:relative;
    width:100%;
    height:140px;
}
.main-c .box.box-2{
    height:156px;
}
.main-c .box-3{
    height:130px;
}
.main-c .box-4{
    height:130px;
}
.main-text p{
    line-height:25px;
}
.main-text .title-cn{
    font-size:18px;
    margin-top:20px;
}
.main-text .title-cn.first{
    margin-top:0;
}
.main-text .title-en{
    font-size:12px;
    margin-bottom:18px;
}
.main-text .line{
    position:absolute;
    left:0;
    bottom:0;
    width:330px;
    height:1px;
    background-color: #f0f0f0;
}
.main-c .picture{
    position:absolute;
    right:0;
    top:505px;
    width:750px;
    height:400px;
    background: url(../img/house-2.png) no-repeat center;    
}
.footer{
    width:100%; 
    background-color: #f7f7f7;
}
.footer-c{
    position:relative;
    height:262px;
}
.contact{
    position:absolute;
    right:0;
    top:99px;
    width:100%;
    height:75px;

}
.contact .line{
    float:left;
    border-right:1px solid gray;
    height:75px;
    width:387px;
    font-size:14px;
    text-indent:62px;
    line-height:27px;
    color:#767676;
}
.contact .net{
    position: relative;
    text-indent:130px;
}
.contact .tel{
    width:435px;
}
.contact .post{
    width:375px;
    border:none;
}
.contact .net .internet{
    position:absolute;
    left:130px;
    bottom:24px;
}
.contact .internet .net-line{
    float:left;
    width:25px;
    height:25px;
    margin-right:19px;
    background: url(../../../img/weibo.png) no-repeat center;
}
.contact .internet .net-line.wx{
    background: url(../../../img/wx.png) no-repeat center;
}
.contact .internet .net-line.qq{
    background: url(../../../img/QQ.png) no-repeat center;
}
